<div class="container_newForms">
  <!-- Formulaire pour ajouter un docteur -->
  <form
    [formGroup]="newDoctorForm"
    (ngSubmit)="onNewDoctorSubmit()"
    class="new-doctor"
    novalidate
  >
    <h5>Nouveau docteur</h5>
    <div class="row g-2">
      <div class="col-md-6">
        <label for="lastName" class="col-form-label">Nom</label>
        <input
          type="text"
          formControlName="lastName"
          class="form-control"
          id="lastName"
          required
        />
        <div
          *ngIf="
            newDoctorForm.controls['lastName'].touched &&
            newDoctorForm.controls['lastName'].invalid
          "
          class="text-danger"
        >
          <div *ngIf="newDoctorForm.controls['lastName'].errors?.['required']">
            Nom requis
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label for="firstName" class="col-form-label">Prénom</label>
        <input
          type="text"
          formControlName="firstName"
          class="form-control"
          id="firstName"
          required
        />
        <div
          *ngIf="
            newDoctorForm.controls['firstName'].touched &&
            newDoctorForm.controls['firstName'].invalid
          "
          class="text-danger"
        >
          <div *ngIf="newDoctorForm.controls['firstName'].errors?.['required']">
            Prénom requis
          </div>
        </div>
      </div>
    </div>
    <div class="row g-2">
      <div class="col-md-6">
        <label for="specialty" class="col-form-label">Spécialité</label>
        <input
          type="text"
          formControlName="specialty"
          class="form-control"
          id="specialty"
          required
        />
        <div
          *ngIf="
            newDoctorForm.controls['specialty'].touched &&
            newDoctorForm.controls['specialty'].invalid
          "
          class="text-danger"
        >
          <div *ngIf="newDoctorForm.controls['specialty'].errors?.['required']">
            Spécialité requise
          </div>
        </div>
      </div>
    </div>
    <br />
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="newDoctorForm.invalid"
    >
      Enregistrement
    </button>
  </form>

  <!--  Formulaire pour ajouter un planning -->
  <form
    class="row g-2"
    [formGroup]="newScheduleForm"
    (ngSubmit)="onNewSchedule()"
    id="ScheduleForm"
    novalidate
  >
    <h5>Nouveau planning</h5>

    <div class="row g-2">
      <div class="col-md-3">
        <label for="consultDate" class="form-label">Date consultation</label>
        <input
          type="date"
          formControlName="consultDate"
          class="form-control"
          id="consultDate"
          required
        />
        <div
          *ngIf="
            newScheduleForm?.get('consultDate')?.invalid &&
            (newScheduleForm?.get('consultDate')?.dirty ||
              newScheduleForm?.get('consultDate')?.touched)
          "
          class="alert alert-danger"
        >
          Date requise
        </div>
      </div>
      <div class="col-md-4">
        <label for="doctor" class="form-label">Docteur</label>
        <select
          id="doctor"
          formControlName="doctor"
          class="form-select"
          required
        >
          <option selected disabled>Choisissez un docteur</option>
          <option
            *ngFor="let nomDoctor of nomsDoctors"
            [ngValue]="nomDoctor.id"
          >
            Dr. {{ nomDoctor.displayName }}
          </option>
        </select>
        <div
          *ngIf="
            newScheduleForm?.get('doctor')?.invalid &&
            (newScheduleForm?.get('doctor')?.dirty ||
              newScheduleForm?.get('doctor')?.touched)
          "
          class="alert alert-danger"
        >
          Docteur est requis.
        </div>
      </div>
    </div>
    <div class="row g-2 patient_container">
      <div class="col-2">
        <label for="patient1" class="form-label">Patient1</label>
        <select
          id="patient1"
          formControlName="patient1"
          class="form-select"
          required
        >
          <option value="" disabled selected hidden>Requis</option>
          <option *ngFor="let patient of nomsPatients" [ngValue]="patient.id">
            {{ patient.displayName }}
          </option>
        </select>
        <div
          *ngIf="
            newScheduleForm?.get('patient1')?.invalid &&
            (newScheduleForm?.get('patient1')?.dirty ||
              newScheduleForm?.get('patient1')?.touched)
          "
          class="alert alert-danger"
        >
          Au moins un patient est requis.
        </div>
      </div>

      <div class="col-2">
        <label for="patient2" class="form-label">Patient2</label>
        <select id="patient2" formControlName="patient2" class="form-select">
          <option value="">optionnel</option>
          <option *ngFor="let patient of nomsPatients" [ngValue]="patient.id">
            {{ patient.displayName }}
          </option>
        </select>
      </div>

      <div class="col-2">
        <label for="patient3" class="form-label">Patient3</label>
        <select id="patient3" formControlName="patient3" class="form-select">
          <option value="">optionnel</option>
          <option *ngFor="let patient of nomsPatients" [ngValue]="patient.id">
            {{ patient.displayName }}
          </option>
        </select>
      </div>

      <div class="col-2">
        <label for="patient4" class="form-label">Patient4</label>
        <select id="patient4" formControlName="patient4" class="form-select">
          <option value="">optionnel</option>
          <option *ngFor="let patient of nomsPatients" [ngValue]="patient.id">
            {{ patient.displayName }}
          </option>
        </select>
      </div>

      <div class="col-2">
        <label for="patient5" class="form-label">Patient5</label>
        <select id="patient5" formControlName="patient5" class="form-select">
          <option value="">optionnel</option>
          <option *ngFor="let patient of nomsPatients" [ngValue]="patient.id">
            {{ patient.displayName }}
          </option>
        </select>
      </div>
    </div>
    <div class="col-12">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="newScheduleForm.invalid"
      >
        Valider
      </button>
    </div>
  </form>
</div>
