<div class="footer_container">
  <div class="container">
    <h6>Copyright</h6>
    <p>© 2024 Landais Roman. Tous droits réservés</p>
  </div>
  <div class="container">
    <h6>Contactez-nous</h6>
    <p>mail : contact&#64;soignemoi.com</p>
    <p>phone : +33 2 23 45 78 69</p>
  </div>

  <div class="container">
    <h6>Suivez-nous</h6>
    <div class="container_img">
      <img src="../../../../assets/image/fb.png" alt="Facebook" />
      <img src="../../../../assets/image/LinkedIn_logo.png" alt="LinkedIn" />
      <img src="../../../../assets/image/insta.jpg" alt="Instagram" />
    </div>
  </div>
</div>
