<form
  class="row g-3"
  [formGroup]="newStayForm"
  (ngSubmit)="onNewStay()"
  id="hospitalForm"
>
  <div class="row">
    <div class="col-md-3">
      <label for="startDate" class="form-label">Date de début séjour</label>
      <input
        type="date"
        formControlName="startDate"
        class="form-control"
        id="startDate"
        required
      />
      <div
        *ngIf="
          newStayForm?.get('startDate')?.invalid &&
          (newStayForm?.get('startDate')?.dirty ||
            newStayForm?.get('startDate')?.touched)
        "
        class="alert alert-danger"
      >
        Date de début est requise.
      </div>
    </div>
    <br />
    <div class="col-md-3">
      <label for="endDate" class="form-label">Date de fin séjour</label>
      <input
        type="date"
        formControlName="endDate"
        class="form-control"
        id="endDate"
        required
      />
      <div
        *ngIf="
          newStayForm?.get('endDate')?.invalid &&
          (newStayForm?.get('endDate')?.dirty ||
            newStayForm?.get('endDate')?.touched)
        "
        class="alert alert-danger"
      >
        Date de fin est requise.
      </div>
    </div>
  </div>
  <div class="col-12">
    <label for="reason" class="form-label">Raison du séjour</label>
    <textarea
      formControlName="reason"
      class="form-control"
      id="reason"
      required
    ></textarea>
    <div
      *ngIf="
        newStayForm?.get('reason')?.invalid &&
        (newStayForm?.get('reason')?.dirty ||
          newStayForm?.get('reason')?.touched)
      "
      class="alert alert-danger"
    >
      Raison du séjour est requise.
    </div>
  </div>
  <div class="col-md-4">
    <label for="specialty" class="form-label">Spécialité médecine</label>
    <select
      id="specialty"
      formControlName="specialty"
      class="form-select"
      required
      (change)="onSpecialtyChange()"
    >
      <option selected disabled>Choisissez une spécialité</option>
      <option
        *ngFor="let specialty of doctorSpecialties"
        [value]="specialty.specialty"
      >
        {{ specialty.specialty }}
      </option>
      <option>Autre</option>
    </select>
    <div
      *ngIf="
        newStayForm?.get('specialty')?.invalid &&
        (newStayForm?.get('specialty')?.dirty ||
          newStayForm?.get('specialty')?.touched)
      "
      class="alert alert-danger"
    >
      Spécialité médecine est requise.
    </div>
  </div>

  <div class="col-md-4">
    <label for="doctor" class="form-label">Docteur</label>
    <select id="doctor" formControlName="doctor" class="form-select" required>
      <option selected disabled>Choisissez un docteur</option>
      <option *ngFor="let doctor of selectedDoctors" [value]="doctor.id">
        Dr. {{ doctor.displayName }}
      </option>
      <option>Sans préférence</option>
    </select>
    <div
      *ngIf="
        newStayForm?.get('doctor')?.invalid &&
        (newStayForm?.get('doctor')?.dirty ||
          newStayForm?.get('doctor')?.touched)
      "
      class="alert alert-danger"
    >
      Docteur est requis.
    </div>
  </div>

  <div class="col-12">
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="newStayForm.invalid"
    >
      Valider
    </button>
  </div>
</form>
