<div class="container_global">
  <div class="container_stay">
    <h2>Derniers séjours</h2>
    <div class="container">
      <div *ngFor="let stay of lastStays" class="stay-scroll">
        <p>Date de début: {{ stay.start_date }}</p>
        <p>Date de fin: {{ stay.end_date }}</p>
        <p>Raison du séjour: {{ stay.stay_reason }}</p>
        <p>Spécialité: {{ stay.doctor_specialty }}</p>
        <p>Docteur: {{ stay.doctor_name }}</p>
        <p>Prescription: {{ stay.consultation_description }}</p>
        <p>Medicament: {{ stay.medicament_name }}</p>
        <p>Date démarrage prescription: {{ stay.prescription_start_date }}</p>
        <p>Date fin prescription: {{ stay.prescription_end_date }}</p>
        <p>Posology: {{ stay.posology }}</p>
      </div>
    </div>
  </div>

  <div class="container_stay">
    <h2>Séjours en cours</h2>
    <div class="container">
      <div class="stay-scroll" *ngFor="let stay of currentStays">
        <p>Date de début: {{ stay.start_date }}</p>
        <p>Date de fin: {{ stay.end_date }}</p>
        <p>Raison du séjour: {{ stay.stay_reason }}</p>
        <p>Spécialité: {{ stay.doctor_specialty }}</p>
        <p>Docteur: {{ stay.doctor_name }}</p>
        <p>Prescription: {{ stay.consultation_description }}</p>
        <p>Medicament: {{ stay.medicament_name }}</p>
        <p>Date démarrage prescription: {{ stay.prescription_start_date }}</p>
        <p>Date fin prescription: {{ stay.prescription_end_date }}</p>
        <p>Posology: {{ stay.posology }}</p>
      </div>
    </div>
  </div>

  <div class="container_stay">
    <h2>Séjours à venir</h2>
    <div class="container">
      <div *ngFor="let stay of comingStays" class="stay-scroll">
        <p>Date de début: {{ stay.start_date }}</p>
        <p>Date de fin: {{ stay.end_date }}</p>
        <p>Raison du séjour: {{ stay.stay_reason }}</p>
        <p>Spécialité: {{ stay.doctor_specialty }}</p>
        <p>Docteur: {{ stay.doctor_name }}</p>
        <p>Prescription: {{ stay.consultation_description }}</p>
        <p>Medicament: {{ stay.medicament_name }}</p>
        <p>Date démarrage prescription: {{ stay.prescription_start_date }}</p>
        <p>Date fin prescription: {{ stay.prescription_end_date }}</p>
        <p>Posology: {{ stay.posology }}</p>
      </div>
    </div>
  </div>
</div>
