<body>
  <div class="container">
    <h1>Présentation</h1>
    <p>
      Le Centre SoigneMoi est un établissement hospitalier renommé, dévoué à
      fournir des soins de santé de la plus haute qualité à la communauté qu'il
      sert. Situé au cœur de la ville, notre hôpital offre une gamme complète de
      services médicaux, allant des soins primaires aux traitements spécialisés
      de pointe.
      <br />
      <br />
      Notre équipe médicale est composée de professionnels expérimentés et
      dévoués, comprenant des médecins de différentes spécialités, des
      infirmières qualifiées, des techniciens médicaux et du personnel de
      soutien. Ensemble, nous travaillons sans relâche pour assurer le bien-être
      et la récupération de nos patients, en mettant l'accent sur la compassion,
      le respect et l'écoute attentive.
      <br />
      <br />
      Au Centre SoigneMoi, nous disposons d'installations modernes et
      équipements de pointe pour fournir des diagnostics précis, des traitements
      efficaces et des interventions chirurgicales sûres. Que ce soit pour une
      consultation de routine, une intervention chirurgicale planifiée ou une
      urgence médicale, nos patients peuvent compter sur nous pour offrir des
      soins exceptionnels dans un environnement accueillant et sécurisé.
      <br />
      <br />
      Notre mission est de faire une différence positive dans la vie de nos
      patients et de contribuer à construire une société plus saine et plus
      forte pour tous. Que vous soyez un patient à la recherche de soins
      médicaux de qualité, un professionnel de la santé en quête d'opportunités
      de carrière enrichissantes, ou un membre de la communauté souhaitant
      s'impliquer dans des initiatives de santé publique, le Centre SoigneMoi
      est là pour vous servir avec dévouement, excellence et compassion."
    </p>
  </div>
  <div class="container">
    <h1>Prestations</h1>
    <div class="container_prestation">
      <div class="container_prestation1">
        <ul>
          <li>Réservation de séjour</li>
          <li>Choix du médecin</li>
          <li>Médecine Générale ou Spécialisée</li>
        </ul>
      </div>
      <div class="container_prestation2">
        <ul>
          <li>Historique des séjours</li>
          <li>Calendrier des futurs séjours</li>
          <li>Historique des prescriptions</li>
        </ul>
      </div>
    </div>
  </div>
</body>
